<div class="container">
  <div class="row">
    <div class="col-2">
      <img src="assets/cansate.jpg" alt="">
    </div>
    <div class="col-10">
      <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active " aria-current="page" href="#">Inicio</a>
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Nosotros</a>
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Acerca de...</a>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="buscar" placeholder="buscar" aria-label="buscar">
              <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form>
          </div>
        </div>
      </nav>
    </div>
    
  </div>
  <div class="row">
    <div class="col-8 ">
    <app-lista-productos></app-lista-productos>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="contairne">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
          <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
              <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
            </a>
            <span class="text-muted">© {{year}} Multiservicios Michell</span>
          </div>
      
          <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
            <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
            <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
          </ul>
        </footer>
      </div>
    </div>
  </div>
